.icon {
    display: inline-block;
    text-align: center;
    padding: 3px;
}

.icon-gray-dark {
    color: #fff;
    background-color: #595351;
    box-shadow: 0 0 0 4px #d9d9d9;
    border: 0;
}

.icon-circle {
    border-radius: 50%;
    border: 1px solid;
}

.icon-xxs {
    font-size: 19px;
    line-height: 19px;
}

.icon-xs {
    font-size: 20px;
    line-height: 20px;
}

.icon-sm.icon-circle {
    width: 41px;
    height: 41px;
    line-height: 39px;
}

.icon-sm-mod-1 {
    font-size: 28px;
    line-height: 28px;
}

.icon-md {
    font-size: 33px;
    line-height: 33px;
}

.icon-md-mod-1 {
    font-size: 30px;
    line-height: 30px;
}

.icon-lg {
    font-size: 50px;
    line-height: 50px;
}

.icon-xl {
    font-size: 80px;
    line-height: 80px;
}

.icon-xxl {
    font-size: 88px;
    line-height: 88px;
}

.icon-social.icon-circle {
    width: 44px;
    height: 44px;
    line-height: 42px;
}

.icon-xxs.icon-circle {
    width: 26px;
    height: 26px;
    line-height: 26px;
}

.icon-xxs.icon-circle.icon-gray-dark {
    color: #fff;
    background-color: #595351;
    box-shadow: 0 0 0 4px #d9d9d9;
    border: 0;
}

.icon-adjust-vertical .icon {
    position: relative;
    top: -2px;
}